name: Publish Docker

on:
  workflow_dispatch:
  push:
    branches:
      - release

jobs:
  publish-docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Create .env.production file
        run: |
          cat << EOF > .env.production
          MODE="production"

          VITE_APP_BACKEND_V2_GET_URL=${{ secrets.VITE_APP_BACKEND_V2_GET_URL }}
          VITE_APP_BACKEND_V2_POST_URL=${{ secrets.VITE_APP_BACKEND_V2_POST_URL }}

          VITE_APP_LIBRARY_URL=https://libraries.excalidraw.com
          VITE_APP_LIBRARY_BACKEND=https://us-central1-excalidraw-room-persistence.cloudfunctions.net/libraries

          VITE_APP_PLUS_LP=https://plus.excalidraw.com
          VITE_APP_PLUS_APP=https://draw.excalidraw.com

          VITE_APP_AI_BACKEND=https://oss-ai.excalidraw.com

          VITE_APP_WS_SERVER_URL=${{ secrets.VITE_APP_WS_SERVER_URL }}

          VITE_APP_FIREBASE_CONFIG='{"apiKey":"AIzaSyCS88LKtuD2CskQQNnFXouGthJ6By_7BBM","authDomain":"excalidraw-alenalex.firebaseapp.com","projectId":"excalidraw-alenalex","storageBucket":"excalidraw-alenalex.firebasestorage.app","messagingSenderId":"105324202142","appId":"1:105324202142:web:8e4ca9b2c933bae6b4938f"}'

          VITE_APP_ENABLE_TRACKING=false


          VITE_APP_PLUS_EXPORT_PUBLIC_KEY='MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEApQ0jM9Qz8TdFLzcuAZZX
          /WvuKSOJxiw6AR/ZcE3eFQWM/mbFdhQgyK8eHGkKQifKzH1xUZjCxyXcxW6ZO02t
          kPOPxhz+nxUrIoWCD/V4NGmUA1lxwHuO21HN1gzKrN3xHg5EGjyouR9vibT9VDGF
          gq6+4Ic/kJX+AD2MM7Yre2+FsOdysrmuW2Fu3ahuC1uQE7pOe1j0k7auNP0y1q53
          PrB8Ts2LUpepWC1l7zIXFm4ViDULuyWXTEpUcHSsEH8vpd1tckjypxCwkipfZsXx
          iPszy0o0Dx2iArPfWMXlFAI9mvyFCyFC3+nSvfyAUb2C4uZgCwAuyFh/ydPF4DEE
          PQIDAQAB'

          VITE_SUPABASE_URL=${{ secrets.VITE_SUPABASE_URL }}
          VITE_SUPABASE_ANON_KEY=${{ secrets.VITE_SUPABASE_ANON_KEY }}

          VITE_APP_DEBUG_ENABLE_TEXT_CONTAINER_BOUNDING_BOX=false
          VITE_APP_COLLAPSE_OVERLAY=false
          VITE_APP_ENABLE_ESLINT=false
          EOF

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: alenalex/excalidraw-sh
          platforms: linux/amd64, linux/arm64, linux/arm/v7
